<!-- <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">


      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div> -->

  <p>{{registrationList}}</p>
  <p>{{registrationList | json}}</p>

  <mat-table>

    <tr class="mat-card">

      <th>Cel</th>
      <th>Skąd</th>
      <th>Dokąd</th>
      <th>Początkowy stan licznika</th>
      <th>Finalny stan licznika</th>

    </tr>


    <tr *ngFor="let registration of registrationList">
      <td>{{registration.purpose}}</td>
      <td>{{registration.fromWhere}}</td>
      <td>{{registration.toWhere}}</td>
      <td>{{registration.initial_odometer}} </td>
      <td>{{registration.final_odometer}}</td>
    </tr>
  </mat-table>


  <mat-card *ngFor="let registration of registrationList" (click)="onItemClick(registration)">
      {{registration.purpose}}  {{registration.initial_odometer}}  {{registration.final_odometer}}
      <button mat-icon-button>
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>done</mat-icon>
          </button>
    </mat-card>

